
html {
  background-color: #783c8f;
}

body {
  min-height: 80%;
  background-color: #eceff6;
}

body, p, blockquote p {
  font-size: 16px;
  line-height: 25px;
}

blockquote p {
  font-style: italic;
  margin-bottom: 1em;
}

a {
  color: #830242;
}

.gray-box {
  text-align: center;
  background-color: #333b46;
  padding: 10px 0 20px 0;
}

.gray-box-bubblemap {
  background-color: #bdbec0;
  height: 500px;
  margin: 20px;
  padding: 20px;
  text-align: center;
}

.content-container {
  padding-top: 50px;
}

.gray-box h3 a {
  color: #fff;
}

.logo-img{
  width: 30%;
  padding-top: 15px;
}

.navbar-right {
  padding: 10px 0 10px 0;
}
.navbar-brand {
  max-width: 60%;
}

.spaced {
  margin-top: 3em;
  margin-bottom: 0em;
}

#logo {
  padding-top: 1em;
  padding-bottom: 0em;
}

#logo #claim {
  margin-top: -10px;
  font-style: italic;
  /*letter-spacing: 1px;*/
  color: #999999;
  font-size: 1.1em;
}

#logo a:hover {
  text-decoration: none;
}

.main-header {
  text-align: center;
  font-weight: normal;
  padding-top: 100px;
}

/* 
 * Nav and Footer styles based on OKFN brand design. 
 */

nav ul li, 
footer,
footer p {
  font-size: 13px;
  line-height: 18px;
}

.hoverless-anchor:hover{
  text-decoration: none;
}

.navbar-default {
  color: #fff;
  border-style: none;
  background-image: none;
  background-color: #783c8f;
}

.navbar-default .navbar-nav>li>a {
  color: #fff;
}

nav ul.nav.nav-tabs li {
  float: right;
}

nav ul.nav.nav-tabs li a.active {
  color: #000;
  font-weight: bold;
}

footer {
  background: #783c8f;
  font-weight: normal;
  margin-top: 50px;
  padding: 0;
}

footer > .inner {
  background: url('http://assets.okfn.org/web/images/footer-bevel.png') top repeat-x;
  padding: 30px 0 30px 0;
  color: #eceff6;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.2);
  min-height: 190px;
}

footer ul li{
  list-style-type: none;
}

footer a, footer a:hover {
  color: #AEEBDF;
}

/* 
 * Visualization-specific styles. 
 */

#db-frame {
  width: 100%;
  min-height: 20em;
  border: none;
}

#dailybread {
  min-height: 20em;
  background-color: #fff;
  padding: 20px 20px 20px 20px;
}

#dailbread #db-topbar div h2 {
  text-transform: none;
}

#dailybread .db-area-title h3 {
  font-size: 11px;
  line-height: 13px;
}

#browser .filters-current {
  float: right;
}

#browser h2 {
  display: none;
}

#browser table {
  width: 100%;
}

#browser table th {
  text-align: left;
}

#browser table th,
#browser table tr {
}

#browser .department-facet,
#browser .clear-search {
  display: none;
}

#browser .num-entries {
  float: right;
  font-style: italic;
}

#browser input[type=text] {
  width: 40em;
  height: 2em;
}

#browser .pager {
  margin-top: 1em;
}

#browser .pager ul li {
  margin-left: 1em;
}

.row .bubbletree-wrapper {
  height: 600px;
  position: relative;
  background-color: #eceff6; 
}

.bubbletree {
  background-color: #eceff6 !important;
}

#bubbletree {
  margin: 0 auto;
  width: 940px;
  height: 550px;
}

#bubbletree .label {
  background-color: rgba(0,0,0,0);
}

#bubbletree .desc {
  font-size: 11px;
  line-height: 13px;
}

#bubbletree .amount {
  font-size: 14px;
}

.okfn-ribbon {
  background-image: url(http://assets.okfn.org/web/images/okf-ribbon.png);
  background-repeat: no-repeat;
  background-position: center 0px;
  float:right;
  width:48px;
  height:100px;
  margin-top: -36px;
  display:block;
}

