---
layout: blank
---
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <a href="/">
      <img src="img/LOGOTIPO10px.png" class="logo-img pull-left" />
    </a>
    <nav class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li>
            <a class="hoverless-anchor" href="http://comunicaton.adondevanmisimpuestos.gt/">
              <img src="img/ÍCONOS/ICONOS-05.png" style="height: 24px; width: 24px;"> Comunicaton
            </a>
        </li>
        <li>
            <a class="hoverless-anchor" href="glosario.html">
              <img src="img/ÍCONOS/ICONOS-06.png" style="height: 24px; width: 24px;"> Glosario
            </a>
        </li>
        <li>
            <a class="hoverless-anchor" href="inFormacion.html">
              <img src="img/ÍCONOS/ICONOS-08.png" style="height: 24px; width: 24px;"> inFormación
            </a>
        </li>
        <li>
            <a class="hoverless-anchor" href="metodologia.html">
              <img src="img/ÍCONOS/ICONOS-07.png" style="height: 24px; width: 24px;"> Metodología
            </a>
        </li>
      </ul>
    </nav>

  </div>
</nav>

<div class="container">
  <div class="content-container">
    {{ content }}
  </div>
  </div>
  
</div>

<footer>
  <div class="inner">
    <div class="container">
      
      <div class="col-md-4 pull-left">
        <p>Ayúdanos a llegar a más personas</p>
        <ul>
          <li>
            <a class="hoverless-anchor" href="http://donacion.redciudadana.org/">
              <img src="img/donaciones.png" style="height: 17px; width: 17px;"> Donaciones
            </a>
          </li>
          <li>
            <a class="hoverless-anchor" href="http://eepurl.com/bEqZhv">
              <img src="img/voluntariado.png" style="height: 17px; width: 17px;"> Voluntariado
            </a>
          </li>
        </ul>
      </div>
      
      <div class="col-md-4 pull-left">

        <div class="row">
          <div class="col-md-6">
            <p>Desarrollado por:</p>
            <a href="http://www.redciudadana.org/">
              <img src="img/red-ciudadana-logo.png" class="img-responsive">
            </a>
          </div>
        </div>

        <br>

        <div class="row">
          <div class="col-md-6">
            <p>Con el apoyo de:</p>
            <a href="https://hivos.org/">
              <img src="img/hivos-logo.png" class="img-responsive">
            </a>
          </div>
        </div>

      </div>

      <div class="col-md-4 pull-left">
        <p>Contáctanos</p>
        <ul>
            <li><a href="mailto:info@redciudadana.org.gt" class="hoverless-anchor"><i class="icon-envelope-alt"></i>  Email</a></li>
            <li><i class="icon-map-marker"></i>   12 calle 1-25 zona 10</li>
            <li>Edificio Géminis 10</li>
            <li>Torre Norte Oficina 14-13</li>
            <li></li>
        </ul>
      </div>

    </div>
    <script src="//my.hellobar.com/d17dc4a9e827abfcb43e89fd55b039bfd9ab7858.js" type="text/javascript" charset="utf-8" async="async"></script>
  </div>
</footer>

